Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@oltmeal20 
oltmeal20
/
Singleton-Project
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
Singleton-Project/.gitignore
@oltmeal20
oltmeal20 Create .gitignore
Latest commit c50ebc0 on Oct 10
 History
 1 contributor
42 lines (33 sloc)  360 Bytes
  
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
